body {
    font-family: Roboto, Noto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: auto;
    padding: 10rem;
    background-color: #f4f4f4;
  }
  
  #quiz-selection {
    text-align: center;
    padding: 50px;
  }
  
  #quiz-selection h1 {
    color: #333;
  }
  
  #quiz-selection ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  #quiz-selection li {
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  #quiz-selection li:hover {
    background-color: #2980b9;
  }
  
  #quiz-container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  #quiz-title {
    color: #333;
  }
  
  #questions-container {
    margin-top: 10px;
  }
  

  label {
    display: block;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  .submit-button {
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    font-size: 20px;
    display: block; 
  }
  #result-container {
  text-align: center;
  font-size: 20px;
  margin-top: 20px; 
  }